.cards {
  list-style: none;
  white-space: nowrap;
}

li {
  display: inline-block;
  width: 15rem;
  height: 15rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  border-radius: 1em;
}
