:root {
  --cover-size: 600px;
}

/* Animation that rotates the cover */
@keyframes rotate-cover {
  0% {
    transform: translateX(-100%) rotateY(-45deg);
  }
  35% {
    transform: translateX(0) rotateY(-45deg);
  }
  50% {
    transform: rotateY(0deg) translateZ(1em) scale(1.5);
  }
  65% {
    transform: translateX(0) rotateY(45deg);
  }
  100% {
    transform: translateX(100%) rotateY(45deg);
  }
}

/* Animation that adjusts z-index */
@keyframes adjust-z-index {
  0% { z-index: 1; }
  50% { z-index: 100; /* When at the center, be on top */ }
  100% { z-index: 1; }
}

/* There is a bug which prevents spatial styles to work when using only element tags */
.coverFlow {
  --xr-background-material: translucent;
  /*border-radius: 40px;*/
  /*padding: 20px 30px;*/

  /* Container setup */
  .cards-wrapper {
  }

  .cards {
    list-style: none;
    white-space: nowrap;
    max-width: calc(var(--cover-size) * 6);
    overflow: scroll;
    /*scroll-snap-type: x mandatory;*/
  }

  /* List item setup */
  .cards li {
    display: inline-block;
    width: var(--cover-size);
    aspect-ratio: 1;
    /*scroll-snap-align: center;*/
  }

  /* Image styling and animation */
  .cards li img {
    object-fit: contain;
    /* Reflection */
    /*width: 100%;
    height: auto;
    -webkit-box-reflect: below 0.5em linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.25));*/
}
